:root {
    --color-primary: #c8bdbd;
    --color-secondary: #3b6363;
    --color-secondary-darker: darkslategrey;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans"; 
    box-sizing: inherit;
}

html {
    font-size: 100%;
} 

body {
    background-color: var(--color-secondary);
    color: #ffffff;
}

#banner{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5 ),rgba(255,255,255, 0.7)), url(photos/plant.jpg); 
    background-position: center ;
    background-size: cover;
}
/*  +++ CONVERT PX TO REM */
/*  ++ ADVANCE STYLE OF BUTTONS */

h1{
    font-size: 2.19rem;
}

p{
    font-size: 1.25rem;
}

.section {
    transition: transform 1s, opacity 1s;
}

.section-hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.logo{
    width: 9.3rem;
    margin-top: 1.9rem;
}

.container{
    margin-right: 6.25rem;
    margin-left: 6.25rem;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h1{
    font-size: 4.3rem;
}

.banner-text p{
    font-size: 2.18rem;
}

.btn {
    margin-top: 1.25rem;
    background: transparent;
    padding: 1.25rem 2.5rem;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    color: #ffffff;
	text-decoration: none;
}

a{
	text-decoration: none;
    color: #ffffff;
}

#menu{
    width: 15.6rem;
    height: 100vh;
    position: fixed;
    top:0;
    right:-15.6rem;
    background: var(--color-secondary-darker);
    z-index: 2;
    transition: .5s;
}

nav ul li{
    list-style: none;
    margin: 2.5rem 1.25rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
nav ul li a:hover{
    text-decoration: underline overline;
    text-decoration-thickness: 0.2rem;
    color: #ffffff;
}

#menuBtn{
    width: 3.1rem;
    right: 4rem;
    top: 2.2rem;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    
}

/* -------------------- ABOUT SECTION -------------------------- */
#about {
    padding: 6.25rem 0;
}

.about-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col, .about-right-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
}

.about-text{
    max-width: 31rem;
    margin-left: 6.25rem;
}


/* -------------------- FEATURES SECTION -------------------------- */

#features{
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-row {
    width:80%;
    display: flex;
    margin: auto;
    padding: 3.1rem 1.25rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features-col{
    flex-basis: 25%;
    text-align: center;
    border: 3px solid #ffffff;
    padding: 2.5rem 2.5rem;
    cursor: pointer;
    background: var(--color-primary); /* #CBBCB2 */
}

.features-col img {
    width: 6.2rem;
    height: 6.2rem;
}

.features-col p {
    font-size: 1rem;
}

.features-col:hover{
    background: var(--color-secondary-darker);
}

#icon{
    position: relative;
    margin-top: 1.9rem;
    width: 2.2rem;
    height: 2.2rem;
    left: 47%;
    bottom: 10%;
    transform: translateY(40%);
    transition: left 0.5s;
}

.features-col:hover #icon{
    left: 50%;
}

/* -------------------- PRODUCTS SECTION -------------------------- */

#products{
    padding: 6.25rem 0;

}

.products-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.products-left-col{
    flex-basis: 50%;
}

.products-right-col{
    flex-basis: 50%;
}

.products-text{
    max-width: 31rem;
    margin-right: 6.2rem;
}

.products-right-col img{
    width: 100%;
}


/* -------------------- REVIEWS SECTION -------------------------- */

/* --- SWIPER --- */
.reviews-text{
    padding-top: 6.2rem;
}
.swiper-container {
    width: 80%;
    height: 100%;
    margin-bottom: 6.2rem;
}

.swiper-slide {
    text-align: center;
    font-size: 1.1rem;
    background: #fff;
    margin-top: 2rem;
    transition: 0.5s;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:hover {
    transform: translateY(-20px);
}

.swiper-slide a{
    padding: 0;
    margin: 0;
}

.swiper-slide img{
    padding: 0;
    width: 100%;
    margin: 0;
}

.swiper-pagination{
    display: none;
}

/* --- overlay text to image --- */
.swiper-slide{
    position: relative;
    display: block;
}

.overlay-text{
    position: absolute;
    color: black;
    z-index: 2;
    font-size: 1.25rem;
    font-weight: 700;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}

.swiper-slide:hover .overlay-text{
    opacity: 1;
}

.swiper-slide:hover img{
    opacity: 0.8;
}

/* -------------------- COUNTER SECTION ----------------------- */
.counter-row{
    margin: 12.5rem 6.25rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.cube{
    height: 7.5rem;
    width: 7.5rem;
    border: 2px solid #fff;
    box-sizing: border-box;
    transform: rotate(45deg);
    /*text-align: center;*/     /* not needed */
}

.cube .cube-content{
    transform: rotate(-45deg);
    margin: 1.5rem auto;
}

.cube-content p{
    font-size: 2.25rem;
}

.cube-content i{
    font-size: 1.4rem;
    color: var(--color-primary);
}

.first-elem, .second-elem, .third-elem, .fourth-elem{
    display: flex;
    align-items: center;  
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.sector{
    margin-top: 2.5rem;
    font-size: 1.2rem;
    color: var(--color-primary);
    word-wrap: break-word;
}

@media only screen and (max-width: 992px){
    .first-elem, .second-elem, .third-elem, .fourth-elem{
        flex-basis: 50%;
    }

    .first-elem, .second-elem{
        margin-bottom: 5rem;
    }
}
@media only screen and (max-width: 576px){
    .counter-row{
        margin: 7rem auto;
    }
    .first-elem, .second-elem, .third-elem {
        flex-basis: 100%;
        margin-bottom: 5rem;
    }
    .fourth-elem{
        margin-bottom: 0rem;
    }
}

/* -------------------- OFFER SECTION -------------------------- */

#offer{
    position: relative;
    overflow: hidden;
}

.offer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    z-index: -1;
    background-position: center;
    display: block;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .3),
        rgba(0, 0, 0, .3)),
        url(https://images.unsplash.com/photo-1507662228758-08d030c4820b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);

    }

.offer-row{
    text-align: center;    
    padding: 20vh 10rem;
}

@media only screen and (max-width: 768px){
    .offer-row{
        text-align: center; 
        padding: 15vh 3rem;
   
    }
}

/* -------------------- FORM SECTION -------------------------- */
form{
    max-width: 22rem;
}

form input{
    width: 100%;
    padding: 12px .6rem;
    margin-bottom: .3rem;
    border: 3px solid var(--color-primary);
    box-sizing: border-box;
}

form input:focus {
    outline: none;
}


/* -------------------- CONTACT SECTION -------------------------- */
.contact-row{
    margin-top: 7.5rem;
    padding-top: 6.2rem;
}


/* -------------------- FOOTER SECTION -------------------------- */

.footer-row{
    display: flex;
    /* margin: auto;  */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .6rem;
}

.footer-left-col{
    flex-basis: 50%;
    margin-top: 2.5rem;
}

.footer-right-col{
    flex-basis: 35%;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-text{
    flex: 30%;
}

.link-text h4{
    color: var(--color-primary);
}

.footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-copyright, .footer-logo{
    flex: 40%;
}

.footer-copyright{
    margin-top: 2.5rem;
}

#footer{
    padding-bottom: 1.2rem;
    background: linear-gradient( var(--color-secondary), rgba(0, 0, 0, 0.5 ));
}


/* -------------------- SOCIAL MEDIA -------------------------- */

.social-media{
    position: fixed; /* freeze position */
    z-index: 1;
    top: 50%;  
    text-align: center;
    transform: translateY(-50%); 
}

.social-media i{
    text-align: center;
    display: block; /* vertical */
    padding-top: 0.7rem;
    margin-left: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #181717;
    transition: all .3s ease-in-out .07s;
}

.social-media i:hover{
    color: var(--color-primary);
    transform: scaleX(-1);
}


/* -------------------- GO TO TOP ARROW -------------------------- */

.go-to-top{
    position: fixed; 
    z-index: 1;
    top: 87%;
    left: 92%;
}

.go-to-top i{
    color: var(--color-primary);
    font-size: 4rem;
    display: block;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, color 0.4s;
}

.go-to-top i:hover{
    color: #181717;
}

/* -------------------- MEDIA -------------------------- */
@media only screen and (max-width: 770px){
    #banner{
        background: none;
        text-align: center;
    }

    h1{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

    .banner-text h1{
        font-size: 2.2rem;       
    }
    
    .banner-text p{
        font-size: 1.2rem;
    }

    .logo{
        width: 4.4rem;
        margin-top: 1.7rem;
    }
    
    .container{
        margin-right: 3.1rem;
        margin-left: 3.1rem;
    }

    #menuBtn{
        width: 2.5rem;
        right: 3.1rem;      
    }

    .btn {
        margin-top: 2rem;
        padding: 1rem 2rem;
    }

    .social-media i{
        margin-left: 0.7rem;
        font-size: 1.1rem; 
    }

    .about-left-col, .about-right-col {
        flex-basis: 100%;
    }

    .about-text{
        margin: 3.1rem 1rem 0 0;
        display: inline-block;
    }

    .about-text h2{
        font-size: 1.1rem;
    }

    .features-col{
        flex-basis: 100%;
        margin-bottom: 1.2rem;    
    }

    #products{
        padding: 3.1rem 0;
    }

    .products-left-col{
        flex-basis: 100%; 
    }

    .products-right-col{
        flex-basis: 100%;
        margin-top: 3.7rem; 
    }

    #products{
        padding: 1.2rem 0 3.1rem;
    }

    .products-text{
        margin: 3.1rem 0 0 0;
        display: inline-block;
    }

    .swiper-slide:hover {
        transform: none;
    }

    .overlay-text{
        font-size: 1.1rem;
    }

    .footer-left-col, .footer-right-col{
        flex-basis: 100%;
    }

    .footer-copyright, .footer-logo{
        flex-basis: 100%;
    }

    .go-to-top{
        top: 87%;
        left: 80%;  
    }
    
    .go-to-top i{
        color: white;
        font-size: 3rem;
    }

    #icon{
        width: 1.8rem;
        height: 1.8rem;
    }
}